<div *ngIf="drive" [ngSwitch]="page">
  <div *ngSwitchCase="'creation'">
    <!-- creation page -->
    <drive-item [drive]="drive" [page]="page"
                (driveEvent)="driveEvent($event)"
                (errorEvent)="errorEvent($event)">
    </drive-item>
  </div>
  <div *ngSwitchCase="'edit'">
    <!-- edit/view page -->
    <drive-item [drive]="drive" [page]="page"
                (driveEvent)="driveEvent($event)"
                (errorEvent)="errorEvent($event)">
    </drive-item>
  </div>
  <div *ngSwitchCase="'list'">
    <!-- list/default page -->
    <drive-list *ngIf="drive.entities" [drive]="drive"
                (driveEvent)="driveEvent($event)"
                (errorEvent)="errorEvent($event)">
    </drive-list>
  </div>
</div>
